body{
    background: #fdfdfd
}
h1{
    font-size: 35px; color: #ffffff;text-align: center;background: black; height:40px;padding: 10px 10px 10px 10px;
}
h2{
    font-size: 22px; color: #000000;
} 
form{
    text-align: center
}
table{
    margin-top: 30px; margin-bottom: 20px;
}
p{
    font: size 45;
}
.botton{
    margin-left: 80px;background: #2252c0;color: #000000;padding: 10px 10px 10px 10px;border-radius: 5px;text-decoration: none;
}